<!DOCTYPE html>
<html>

<head>
    <title>Q&A Model</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        h1 {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 2.5rem;
        }

        .btn-container {
            display: flex;
            justify-content: center;
            margin-top: 3rem;
        }

        .btn-container .btn {
            margin: 0 1rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Q&A Model</h1>
        <div class="btn-container">
<!--            <a href="/text_input" class="btn btn-primary">Text Input</a>-->
<!--            <a href="/pdf_input" class="btn btn-primary">PDF Input</a>-->
            <a href="/search" class="btn btn-primary">Search</a>
            <a href="/summarize" class="btn btn-primary">Summarize Text</a>
        </div>
    </div>
</body>

</html>
